<h1>Quotes</h1>
<%- include('../partials/messages') %>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red modal-trigger" href="#submitQuote">
		<i class="large material-icons">add</i>
	</a>
</div>

<form id="submitQuote" class="modal" method="POST" action="/quotes">
	<div class="modal-content">
		<h5>Create New Quote</h5>
		<div class="row">
			<span class="input-field col s12 m12">
				<input id="i_quote" class="validate" name="quote" type="text">
				<label for="i_quote" class="textarea-label">New Quote</label>
			</span>

		</div>
	</div>
	<div class="modal-footer">
		<button class="modal-close waves-effect waves-green btn-flat" type="button">Cancel</button>
		<button class="modal-close waves-effect waves-green btn-flat" type="submit">Submit</button>
	</div>
</form>

<% if (typeof quotes !== 'undefined') { %>
	<ul class="collection">
	<% quotes.forEach((quote) => { %>
		<li class="quote collection-item">
			<span class="body"><%= quote.body %></span>
			<div class="secondary-content">
				<!-- TODO: upvote/downvote buttons -->
			</div>
			<div class="details">
				<a class="author" href="/users/profile/<%= quote.author %>"><%= quote.author %></a>
				<span class="date"><%= quote.date %></span>
			</div>
		</li>
	<% }); %>
	</ul>
<% } %>

<script defer src="/js/quotes.js"></script>