<li class="quote collection-item">
	<% let userIsAuthor = currUser.displayName === quote.author; %>
	<div class="content">
		<span class="body"><%= quote.body %></span>
		<div class="secondary-content">
			<!-- TODO: button logic (this is gonna hurt) -->
			<% if (userIsAuthor) { %>
				<button class="editBtn btn-flat waves-effect waves-light blue" type="button">
					<i class="small material-icons white-text">edit</i>
				</button>
				<strong class="votes black-text center-align"><%= quote.votes %></strong>
				<button class="delBtn btn-flat waves-effect waves-light red" type="button">
					<i class="small material-icons white-text">close</i>
				</button>
			<% } else { %>
				<button class="btn-flat waves-effect" type="button">
					<i class="small material-icons">keyboard_arrow_up</i>
				</button>
				<strong class="votes black-text center-align"><%= quote.votes %></strong>
				<button class="btn-flat waves-effect" type="button">
					<i class="small material-icons">keyboard_arrow_down</i>
				</button>
			<% } %>
		</div>
	</div>
	<div class="details">
		<a class="author" href="/users/profiles/<%= quote.author %>"><%= quote.author %></a>
		<span class="date"><%= quote.date %></span>
	</div>
</li>